<div class="products-container">
    <div class="data">
        <img src="assets/img/notebooks.png" alt="Notebooks">
        <div class="data-counter">
            <p>Notebooks</p>
            <p>Available:{{laptopQuantity}}</p>
        </div>
    </div>
    <div class="data">
        <img src="assets/img/smartphones.png" alt="Smartphones">
        <div class="data-counter">
            <p>Smartphones</p>
            <p>Available:{{mobileQuantity}}</p>
        </div>
    </div>
    <div class="data">
        <img src="assets/img/monitors.png" alt="Monitors">
        <div class="data-counter">
            <p>Monitors</p>
            <p>Available:{{monitorQuantity}}</p>
        </div>
    </div>
    <div class="data">
        <img src="assets/img/printers.jpg" alt="Printers">
        <div class="data-counter">
            <p>Printers</p>
            <p>Available:{{printerQuantity}}</p>
        </div>
    </div>
</div>