<h2>Our Partners</h2>
<div class="custom-carousel" *ngIf="images.length > 0">
  <div class="carousel-wrapper">
    <div class="carousel-slide" *ngFor="let img of images; let i = index" [class.active]="i === currentIndex">
      <img [src]="img" alt="Partner Image {{ i + 1 }}">
    </div>
  </div>
  <button class="carousel-control prev" (click)="prevSlide()">&#10094;</button>
  <button class="carousel-control next" (click)="nextSlide()">&#10095;</button>
  <div class="carousel-indicators">
    <span *ngFor="let img of images; let i = index" [class.active]="i === currentIndex" (click)="goToSlide(i)"></span>
  </div>
</div>
<h2>Our Stors Location</h2>
<div class="main">
  <div class="buttons">
    <button *ngFor="let mall of malls" (click)="showMap(mall.name, mall.address)">
      {{ mall.name }}
    </button>
  </div>

  <div class="maps">
    <div class="map" *ngIf="currentMall === 'East Point Mall' && mallAddress === '2, AleKsandre Tvalchrelidze St, Tbilisi 0182'">
      <p>{{currentMall}}</p>
      <p>Address: {{mallAddress}}</p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23833.82780442233!2d44.93475840000001!3d41.6940032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40440d1ab3cface3%3A0x3261618826fd4d09!2sEast%20Point!5e0!3m2!1sen!2sge!4v1727081473342!5m2!1sen!2sge">
      </iframe>
    </div>

    <div class="map" *ngIf="currentMall === 'City Mall' && mallAddress === '70 Vazha Pshavela Ave, Tbilisi 0186'">
      <p>{{currentMall}}</p>
      <p>Address: {{mallAddress}}</p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2977.840404491564!2d44.73497297657868!3d41.723962575049924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40447311c5a4fd2d%3A0xb51a5da2ec2d9d2a!2z4YOh4YOY4YOX4YOYIOGDm-GDneGDmuGDmA!5e0!3m2!1sen!2sge!4v1727081546545!5m2!1sen!2sge">
      </iframe>
    </div>

    <div class="map" *ngIf="currentMall === 'Tbilisi Mall' && mallAddress === 'Tbilisi Mall, Tbilisi'">
      <p>{{currentMall}}</p>
      <p>Address: {{mallAddress}}</p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2973.5335567549737!2d44.76997547658213!3d41.81680766924868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40446e8d50dec5df%3A0x70b3c81f3346eab!2sTbilisi%20Mall!5e0!3m2!1sen!2sge!4v1727081566252!5m2!1sen!2sge">
      </iframe>
    </div>
  </div>
</div>