.cards-container {
    width: 250px;
    height: 350px;
    border: 2px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.price {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.discount {
    text-decoration: line-through rgba(255, 0, 0, 0.879);
}

.cards-container > img, .carousel-item > img {
    width: 200px;
    height: 150px;
    object-fit: scale-down;
}

h3 {
    font-size: 16px;
}

section {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    background-color: rebeccapurple;
    color: white;
    transition: 0.5s;
}

button:hover {
    border-color: #D68B1A;
    transition: 0.5s;
    background-color: rgba(102, 51, 153, 0.811);
}

header {
    margin: 50px 0px;
    text-align: center;
}

.carousel {
    width: 80%;
    overflow: hidden;
    margin: auto;
    position: relative;
}

.carousel-item {
    width: 250px;
    height: 350px;
    border: 2px solid lightgray;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    position: absolute;
    transition: opacity 1s;
}

.carousel-item.active {
    display: flex;
    opacity: 1;
}
